body {
    background-color: rgb(222, 133, 17);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

span img {
    width: 70px;
}

.info-player {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    justify-content: center;
}